# Node
node_modules/
*.log

# RN-Android
android/.gradle/
android/app/build/
android/build/
*.keystore
*.jks

# RN-iOS
ios/Pods/
ios/build/
*.xcuserdatad
*.xcworkspace/xcuserdata/

# Misc
.DS_Store
.vscode/
.env
android/local.properties
android/app/.cxx/
